body {
    background-image: url("photo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.white-text {
    color: rgb(255, 255, 255);
}

.fonts {
    font-family: 'Assistant';font-size: 20px;
}

.center-content {
    text-align: center;
    padding-top: 28%;
    margin-bottom: 20%;
}

/* radio buttons */
  .custom-radios div {
    display: inline-block;
  }
  .custom-radios input[type="radio"] {
    display: none;
  }
  .custom-radios input[type="radio"] + label {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 20px;
  }
  .custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
  }
  .custom-radios input[type="radio"]#google-rb + label span {
    background-color: #00ff6a;
  }
  .custom-radios input[type="radio"]#alpha-rb + label span {
    background-color: #115786ec;
  }
  .custom-radios input[type="radio"]#craft-rb + label span {
    background-color: #ffd11b;
  }
  .custom-radios input[type="radio"]#unsplash-rb + label span {
    background-color: #991305;
  }
  .custom-radios input[type="radio"]#cave-rb + label span {
    background-color: rgb(209, 87, 6);  
  }
  .custom-radios input[type="radio"]:checked + label span {
    opacity: 1;
    width: 30px;
    height: 30px;
    display: inline-block;
  
  }

/*search button */
.btn-size {
    width: 20%;
    margin-top: 20px;
}
.btn-size {
    position: relative;
    background-color: rgb(133, 23, 148);
    border: none;
    font-size: 28px;
    color: rgb(7, 0, 0);
    padding: 2px;
    width: 120px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .btn-size:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 300%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn-size:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

h1 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.footer-content {
    padding-top: 5%;
}

.footer-copyright {
    font-size: 80%;    
}
